body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

#urlInput {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
}

#shortenBtn {
    padding: 10px 20px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
}
